.even-bg .row:nth-child(2n) {
    background-color: #EEE;
}

.project-list>div.row {
    padding: 30px 0px;
}

h3>span.badge {
    font-size: 9pt;
}

.action-menu {
    margin-top: 15px;
}


div:has(> img) {
    text-align: center;
}

.projects-page .project-list .row img {
    max-height: 250px;
}

footer {
    border-top: 1px solid #CCC;
    margin-top: 30px;
    padding-top: 4px;
    text-align: center;
}

article h2 {
    background-color: #555;
    color: #FFF;
    padding: 32px 10px;
    text-align: center;
}

aside {
    width: 200px;
}

.banner-container-section > div {
    margin-top: 5px;
}

.profile-image {
    width: 100%;
}